.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: 
    'header'
    'nav'
    'articles';
}

.header {
  border: solid red 1px;
  grid-area: header;
  font-size: x-large;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-areas: 
    'header-user'
    'header-main';
}

.header-user {
  border: blue solid 1px;
  grid-area: header-user;
  font-size: medium;
  text-align: right;
  padding-right: 15px;
  padding-top: 5px;
  margin: 0px;
}

.header-main {
  border: rgb(93, 93, 145) solid 1px;
  grid-area: header-main;
  
}

.nav {
  border: solid blue 1px;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.articles {
  border: solid green 1px;
  grid-area: articles;
  font-size: small;
}

.topic-card {
  border: solid black 1px;
  font-size: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}

.article-mini-card {
  border: solid grey 1px;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}


.article-max-card {
  border: solid grey 1px;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: 
    'article-header'
    'article-meta'
    'article-body';
}

.article-header {
  border: red solid 1px;
  grid-area: article-header;
}


.article-meta {
  border: rgb(0, 26, 255) solid 1px;
  grid-area: article-meta;
  font-size: x-small;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1fr 1fr;
  grid-template-areas: 
    'article-author'
    'article-date'
    'article-vote'
    'article-topic';
}

.article-vote {
  border:rgb(255, 0, 170) solid 1px;
  display: grid;
  width: 50%;
  margin-left: 100px;
  grid-template-columns: 1fr 1fr;
  font-size: large;
}

.article-vote-button {
  border: lightcoral solid 3px;
  margin: 10px;
}

.article-body {
  border: rgb(0, 255, 34) solid 1px;
  grid-area: article-body;
  font-size: small;
}

.comment-container {
  border: rgb(255, 0, 13) solid 1px;
  display: grid;
  font-size: xx-small;
  color: rgba(0, 0, 0, 0.61);
  justify-content: center;
  grid-template-columns: 85%;
}

.comment-card {
  border: rgb(255, 0, 170) solid 1px;
  display: grid;
  font-size: xx-small;
  color: rgba(0, 0, 0, 0.61);
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  grid-template-rows: min-content min-content;
  grid-template-areas: 
    'comment-body'
    'comment-meta';
}

.comment-body {
  border: chartreuse solid 1px;
  grid-area: comment-body;
}

.comment-meta {
  border: rgb(25, 0, 255) solid 1px;
  grid-area: comment-meta;
  display: grid;
  grid-template-columns: 1fr 7fr;
  text-align: right;
  padding-right: 15px;
  grid-template-areas: 
    'comment-meta-votes'
    'comment-meta-delete';
}

.comment-meta-user {
  display: grid;
  font-size: 24px;
  grid-template-columns: 8fr 1fr;
  border:rgb(255, 0, 13) solid 1px;
  margin: 0px;
  padding: 0px;
}

.comment-meta-delete {
  border: lawngreen solid 1px;
  height: 25px;
  padding: 0px;
  margin: 0px;
}

.post-comment {
  border: rgb(255, 0, 170) solid 1px;
  display: grid;
  font-size: xx-small;
  color: rgba(0, 0, 0, 0.61);
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  grid-template-rows: 100px;
  grid-template-areas: 
    'post-comment-field' 'post-comment-button';
}

.post-comment-field {
  border: blueviolet solid 1px;
  grid-area: post-comment-field;
  grid-template-columns: 100%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.post-comment-button {
  background-color: #555555;
  grid-area: post-comment-button;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.cooking {
  background-color: rgba(255, 235, 205, 0.323);
}

.football {
  background-color: rgba(210, 255, 193, 0.309);
}

.coding {
  background-color: rgba(245, 205, 255, 0.302);
}

